.nav-main{
  background-color: #363636;
  display: flex; 
    /* justify-content:space-around; */
    /* display: inline-block; */
    height: 3rem;
    width: 100vw;
}

.nav-title{
  color:whitesmoke;
}

.nav-link{
  color:whitesmoke;
  /* justify-content:space-around; */
  /* justify-items: end; */
  margin: 1rem;
}

.logo{
  position: absolute;
  left: 1rem;

  height:3rem;
}