.nav-main{
  background-color: #363636;
  display: flex; 
    height: 3rem;
    width: 100vw;
}

.nav-title{
  color:whitesmoke;
}

.nav-link{
  color:whitesmoke;
  margin: 1rem;
}

.logo{
  position: absolute;
  left: 1rem;

  height:3rem;
}